.OfferingCardContainer{
    width: 26.944vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
    box-shadow: 0px 4px 5px gray;
  
}
.OfferingIcon{
    width: 4.861vw;
    height: 4.861vh;
    padding: 5.694vw 0;
}
.OfferingTitle{
    padding: 2.813vw 1.042vw 0 1.042vw;
    text-align: center;
}
.OfferingData{
    padding: 1.875vw 1.736vw 2.813vw 1.736vw;
}