.industryCard{
    width: 21.244vw;
    /* border: 1px solid blue; */
}
.industryIcon{
    padding: 2.569vw 7.917vw;
    border: 0.113vw solid white;
}
.industryIcon:hover{
    border-top-left-radius: 6.944vw;
    border-bottom-right-radius: 6.944vw;
    border: 0.113vw solid #5D2EDE;
    /* border-color: #5D2EDE; */
}
.iconTitle{
    font-size: 1.667vw;
    font-weight: bold;
    margin-top: 1.111vw;
}