@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: DM Sans;
}
.bg-black{
  background-color: black;
}
.bg-black{
  width: 100vw;
}
.text-white{
  color: white;
}
.font{
  font-family: DM Sans;
}
.button-text{
  font-family: DM Sans;
  font-size: 1.25vw;
  font-weight: bold;
}
.text{
  font-family: DM Sans;
  font-size: 1.25vw;
  font-weight: normal;
}
.subText{
  font-family: DM Sans;
  font-size: 2.222vw;
  font-weight: normal;
}
.heading-text{
  color: white;
  font-family: DM Sans;
  font-size: 3.889vw;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
}
.subheading-text{
  font-family: DM Sans;
  font-size: 2.5vw;
  font-weight: bold;
}
.title-text{
  font-family: DM Sans;
  font-size: 1.944vw;
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.flex-space-between{
  align-items: center;
  justify-content: space-between;
}
.flex-space-evenly{
  align-items: center;
  justify-content: space-evenly;
}
.flex-space-between{
  align-items: center;
  justify-content: space-between;
}
.flex-space-around{
  align-items: center;
  justify-content: space-around;
}
.flex-wrap{
  flex-wrap: wrap;
}
.whiteButton{
  color: black;
  background-color: white;
  padding: 1.25vw 1.667vw ;
  border-radius: 2.778vw;
}
.blackButton{
  color: white;
  background-color: black;
  padding: 1.25vw 1.667vw ;
  border-radius: 2.778vw;
  border: 1px solid white;
}
.hero{
  background-image: url('./Assets/image.svg');
  overflow: hidden;
  position: relative;
  width: 100vw;
  height:60.968vw;
}
.test{
  position: absolute;
  left: -8vw;
  bottom: 26.459vw;
}
.test img{
  width: 22.892vw;;
}
.rightImage{
  position: absolute;
  right: -3.125vw;
  bottom: 0vw;
}
.rightImage img{
  width: 18.673vw;
}
.bottomRing{
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomRing img{
  width: 28.451vw;
}
.test2{
  position: absolute;
  left: 0;
  bottom: 0;
}
.focused-color{
  color:#5D2EDE;
}
.gray-text{
  color:#747474;
}
.hero-button{
  width: 13.819vw;
}
.full-width{
 width: 100vw;
}
.description-container{
    width: 69.249vw;
    color: #E6E6E6;
    overflow-wrap: normal;
    text-align: center;
    margin-top: 1.111vw;
    margin-bottom: 3.472vw;
}
.main-container{
  width: 100.139vw;
  padding-top: 2.083vw;
  padding-bottom: 4.861vw;
}
.input-style{
  width: 34.028vw;
  border: 1px solid #66638D;
  border-radius: 10px;
  background-color: #221F49;
  display: flex;
  
}
.block{
  display: block;
}